#left{
    width: 50%;
    float: left;/*模块靠左*/
    /*background-color: rgba(0, 0, 0, 0.336);*/


    position: absolute;/*使下面三行生效*/
    top: 0%;
    bottom: 0%;
    left: 0%;
    
}
#right{
    width: 50%;
    float: right;
}

body{
    background-image: url(../image/background.png);
    background-repeat: no-repeat;
    /*字体变白*/
    
    color: white;
}
