/*main分区中的两个框*/
#title{
    margin-top: 30%;
    text-align: center;
}
#botton{
    margin-top: 9%;
    text-align: center;
}




/*两大分区*/
#main{
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 0px 25px 25px 0px;
    width: 50%;
    
    
    margin-top: 0%;
    

    float: left;

    position:absolute;
    bottom: 0;
    top: 0;
    left: 0;
}

#rightmain{/*右半部分属性*/
    width: 50%;
    /*background-color: black;*/
    color: black;
    float: right;
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
    width: 49%;/*这么宽基本正合适（肥肠自信^v^)*/
}